> # A/B Hypothesis Testing

In [1]:
import pandas as pd # type: ignore
import os
os.chdir('..')

In [2]:
data = pd.read_csv("./data/MachineLearningRating.csv")

/tmp/ipykernel_160249/3609388775.py:1: DtypeWarning: Columns (32) have mixed types. Specify dtype option on import or set low_memory=False.
  data = pd.read_csv("./data/MachineLearningRating.csv")

In [3]:
data.head()

,Unnamed: 0,UnderwrittenCoverID,PolicyID,TransactionMonth,IsVATRegistered,Citizenship,LegalType,Title,Language,Bank,...,ExcessSelected,CoverCategory,CoverType,CoverGroup,Section,Product,StatutoryClass,StatutoryRiskType,TotalPremium,TotalClaims
0,0,145249,12827,2015-03-01,True,,Close Corporation,Mr,English,First National Bank,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0
1,1,145249,12827,2015-05-01,True,,Close Corporation,Mr,English,First National Bank,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0
2,2,145249,12827,2015-07-01,True,,Close Corporation,Mr,English,First National Bank,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0
3,3,145255,12827,2015-05-01,True,,Close Corporation,Mr,English,First National Bank,...,Mobility - Metered Taxis - R2000,Own damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,54.824561,0.0
4,4,145255,12827,2015-07-01,True,,Close Corporation,Mr,English,First National Bank,...,Mobility - Metered Taxis - R2000,Own damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0

In [4]:
data.tail()

,Unnamed: 0,UnderwrittenCoverID,PolicyID,TransactionMonth,IsVATRegistered,Citizenship,LegalType,Title,Language,Bank,...,ExcessSelected,CoverCategory,CoverType,CoverGroup,Section,Product,StatutoryClass,StatutoryRiskType,TotalPremium,TotalClaims
989552,1000093,31520,389,2015-04-01,False,ZW,Individual,Mr,English,ABSA Bank,...,No excess,Third Party,Third Party,Comprehensive - Taxi,Motor Comprehensive,Mobility Commercial Cover: Monthly,Commercial,IFRS Constant,54.824561,0.0
989553,1000094,31520,389,2015-06-01,False,ZW,Individual,Mr,English,ABSA Bank,...,No excess,Third Party,Third Party,Comprehensive - Taxi,Motor Comprehensive,Mobility Commercial Cover: Monthly,Commercial,IFRS Constant,54.824561,0.0
989554,1000095,31520,389,2015-08-01,False,ZW,Individual,Mr,English,ABSA Bank,...,No excess,Third Party,Third Party,Comprehensive - Taxi,Motor Comprehensive,Mobility Commercial Cover: Monthly,Commercial,IFRS Constant,54.824561,0.0
989555,1000096,31519,389,2014-07-01,False,ZW,Individual,Mr,English,ABSA Bank,...,No excess,Passenger Liability,Passenger Liability,Comprehensive - Taxi,Motor Comprehensive,Mobility Commercial Cover: Monthly,Commercial,IFRS Constant,2.315000,0.0
989556,1000097,31519,389,2015-02-01,False,ZW,Individual,Mr,English,ABSA Bank,...,No excess,Passenger Liability,Passenger Liability,Comprehensive - Taxi,Motor Comprehensive,Mobility Commercial Cover: Monthly,Commercial,IFRS Constant,2.315000,0.0

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 989557 entries, 0 to 989556
Data columns (total 47 columns):
 #   Column                    Non-Null Count   Dtype
---  ------                    --------------   -----
 0   Unnamed: 0                989557 non-null  int64
 1   UnderwrittenCoverID       989557 non-null  int64
 2   PolicyID                  989557 non-null  int64
 3   TransactionMonth          989557 non-null  object
 4   IsVATRegistered           989557 non-null  bool
 5   Citizenship               989557 non-null  object
 6   LegalType                 989557 non-null  object
 7   Title                     989557 non-null  object
 8   Language                  989557 non-null  object
 9   Bank                      989557 non-null  object
 10  AccountType               989557 non-null  object
 11  MaritalStatus             989557 non-null  object
 12  Gender                    989557 non-null  object
 13  Country                   989557 non-null  object
 14  Province                  989557 non-null  object
 15  PostalCode                989557 non-null  int64
 16  MainCrestaZone            989557 non-null  object
 17  SubCrestaZone             989557 non-null  object
 18  ItemType                  989557 non-null  object
 19  mmcode                    989557 non-null  float64
 20  VehicleType               989557 non-null  object
 21  RegistrationYear          989557 non-null  float64
 22  make                      989557 non-null  object
 23  Model                     989557 non-null  object
 24  Cylinders                 989557 non-null  float64
 25  cubiccapacity             989557 non-null  float64
 26  kilowatts                 989557 non-null  float64
 27  bodytype                  989557 non-null  object
 28  NumberOfDoors             989557 non-null  float64
 29  VehicleIntroDate          989557 non-null  object
 30  AlarmImmobiliser          989557 non-null  bool
 31  TrackingDevice            989557 non-null  bool
 32  CapitalOutstanding        989557 non-null  object
 33  NewVehicle                989557 non-null  object
 34  SumInsured                989557 non-null  float64
 35  TermFrequency             989557 non-null  object
 36  CalculatedPremiumPerTerm  989557 non-null  float64
 37  ExcessSelected            989557 non-null  object
 38  CoverCategory             989557 non-null  object
 39  CoverType                 989557 non-null  object
 40  CoverGroup                989557 non-null  object
 41  Section                   989557 non-null  object
 42  Product                   989557 non-null  object
 43  StatutoryClass            989557 non-null  object
 44  StatutoryRiskType         989557 non-null  object
 45  TotalPremium              989557 non-null  float64
 46  TotalClaims               989557 non-null  float64
dtypes: bool(3), float64(10), int64(4), object(30)
memory usage: 335.0+ MB

In [6]:
data.head()

,Unnamed: 0,UnderwrittenCoverID,PolicyID,TransactionMonth,IsVATRegistered,Citizenship,LegalType,Title,Language,Bank,...,ExcessSelected,CoverCategory,CoverType,CoverGroup,Section,Product,StatutoryClass,StatutoryRiskType,TotalPremium,TotalClaims
0,0,145249,12827,2015-03-01,True,,Close Corporation,Mr,English,First National Bank,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0
1,1,145249,12827,2015-05-01,True,,Close Corporation,Mr,English,First National Bank,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0
2,2,145249,12827,2015-07-01,True,,Close Corporation,Mr,English,First National Bank,...,Mobility - Windscreen,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0
3,3,145255,12827,2015-05-01,True,,Close Corporation,Mr,English,First National Bank,...,Mobility - Metered Taxis - R2000,Own damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,54.824561,0.0
4,4,145255,12827,2015-07-01,True,,Close Corporation,Mr,English,First National Bank,...,Mobility - Metered Taxis - R2000,Own damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0

>> ### A/B Hypothesis Testing

In [7]:
data = data.loc[:, ~data.columns.str.contains('^Unnamed')]

In [8]:
from scripts.ABHypothesisTesting import calculate_margin
data = calculate_margin(data)

In [9]:
data.head()

,UnderwrittenCoverID,PolicyID,TransactionMonth,IsVATRegistered,Citizenship,LegalType,Title,Language,Bank,AccountType,...,CoverCategory,CoverType,CoverGroup,Section,Product,StatutoryClass,StatutoryRiskType,TotalPremium,TotalClaims,Margin
0,145249,12827,2015-03-01,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0,21.929825
1,145249,12827,2015-05-01,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,21.929825,0.0,21.929825
2,145249,12827,2015-07-01,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Windscreen,Windscreen,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0,0.000000
3,145255,12827,2015-05-01,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Own damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,54.824561,0.0,54.824561
4,145255,12827,2015-07-01,True,,Close Corporation,Mr,English,First National Bank,Current account,...,Own damage,Own Damage,Comprehensive - Taxi,Motor Comprehensive,Mobility Metered Taxis: Monthly,Commercial,IFRS Constant,0.000000,0.0,0.000000

In [10]:
from scripts.ABHypothesisTesting import segment_randomly
from scripts.ABHypothesisTesting import perform_ttest
from scripts.ABHypothesisTesting import analyze_p_value

>> ### There are no risk differences across provinces

>> #### Data Segmentation

In [11]:
province1, province2 = segment_randomly(data,'Province', 42)

>> #### perform t-test

In [12]:
t_stat, p_value_province = perform_ttest(province1, province2, 'TotalClaims')

>> #### analyze p value

In [13]:
p_value_province

np.float64(6.793703901301335e-09)

>> ### reject the null hypothesis (There are no risk differences across provinces )

>> ### There are no risk differences between zip codes

>> #### Data Segmentation

In [14]:
zip1, zip2 = segment_randomly(data,'PostalCode', 42)

>> #### perform t-test

In [15]:
t_stat, p_value_zip = perform_ttest(zip1, zip2, 'TotalClaims')

>> #### analyze p value

In [16]:
p_value_zip

np.float64(0.37919063262793506)

>> ### fail to reject the null hypothesis (There are no risk differences between zip codes )

>> ### There are no significant margin (profit) difference between zip codes

>> #### Data Segmentation

In [17]:
from scripts.ABHypothesisTesting import segment_by_risk
zip_1, zip_2 = segment_by_risk(data, 'TotalClaims', 'PostalCode')

>> #### perform t-test

In [18]:
t_stat, p_value_zip_margin = perform_ttest(zip_1, zip_2, 'Margin')

>> #### analyze p value

In [19]:
p_value_zip_margin

np.float64(1.6952221070536148e-17)

>> ### reject the null hypothesis (There are no significant margin (profit) difference between zip codes )

>> ### There are not significant risk difference between Women and Men

>> #### Data Segmentation

In [20]:
from scripts.ABHypothesisTesting import segment_gender
male_group, female_group = segment_gender(data, 'Gender', 'Male', 'Female')

>> #### perform t-test

In [21]:
t_stat, p_value_gender = perform_ttest(male_group, female_group, 'TotalClaims')

>> #### analyze p value

In [22]:
p_value_gender

np.float64(0.8183688714518833)

>> ### Fail to reject null hypothesis (There are not significant risk difference between Women and Men)

> # Task 4 (Statistical Modeling)